<div class="logo"><img src="./imgs/xoxo_logo.svg" /></div>
<div class="nav-panel">
    <div >Игровое поле</div>
    <div class="active">Рейтинг</div>
    <div>Активные игроки</div>
    <div>История игр</div>
    <div>Список игроков</div>
</div>
<button><img src="./imgs/quit_button.svg" /></button>