body {
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
  }

  * {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #373745;
  }

  header {
    position: fixed;
    width: -webkit-fill-available;
    left: 0;
    top: 0;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  .nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
  }

  .nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
  }

  .nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60c2aa;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .main-container-raiting{
    margin: 144px auto 80px;
    padding: 32px 0 48px 32px;
    background-color: white;
    width: 400px;
    border-radius: 16px;
    width: 1026px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
  }

  .main-container h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }

  .main-table {
    margin-top: 24px;
    font-size: 16px;
    width: 97%;
    border-collapse: collapse;
  }

  .main-table th,
  td {
    padding: 12px 8px;
    text-align: start;
    border-bottom: 1px solid #eeeff5;
  }

  .main-table th {
    font-weight: 500;
  }

  .main-table th:first-child {
    width: 45%;
  }
  .main-table td:first-child {
    width: 45%;
  }
  .win {
    color: #69b849;
  }

  .lose {
    color: #e93e3e;
  }

  .main-container-xo-panel{
    margin-top: 64px;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
  }

  .subject-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: fit-content;
    width: 500px;
    padding: 24px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
  }

  .subject-list h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #373745;
    margin: 0;
  }

  .subject-list > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: none;
    align-self: stretch;
  }

  .subject-list > .container > .subject-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    flex: none;
    order: 0;
    align-self: stretch;
  }

  .subject-list .subject-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #373745;
  }

  .subject-list .subject-percent {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #898993;
  }

  .subject-list .subject-icon {
    width: 24px;
    height: 24px;
  }

  .subject-list .subject-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

  .game-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 663px;
  }

  .game-time {
    padding: 24px;
    background: #ededed;
    border-radius: 12px;
    font-weight: 900;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #373745;
    width: fit-content;
  }

  .game-board {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    align-content: flex-start;
    width: 663px;
  }

  .game-board .cell {
    width: 218.33px;
    height: 218.33px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .game-step {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background: #373745;
    border-radius: 12px;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #ffffff;
    width: 400px;
  }

  .chat-container {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 88px;
    gap: 20px;
    width: 412px;
    font: 400 16px/24px;
  }

  .msgs-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    gap: 8px;
    width: -webkit-fill-available;
    max-width: 352px;
    background: #ffffff;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 16px;
  }

  .msg-container.other {
    align-self: flex-start;
    border-radius: 16px 16px 16px 0px;
  }

  .msg-container.me {
    align-self: flex-end;
    border-radius: 16px 16px 0px 16px;
  }

  .msg-header {
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .subject-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .subject-name.x {
    color: #60c2aa;
  }

  .subject-name.zero {
    color: #e38bac;
  }

  .msg-header .time {
    font: 400 14px/20px;
    letter-spacing: 0.25px;
    color: #898993;
  }

  .msg-interactive-elements {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    width: -webkit-fill-available;
  }

  .msg-interactive-elements button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 48px;
    height: 48px;
    background-color: #60c2aa;
    border-radius: 12px;
  }

  .msg-interactive-elements textarea {
    resize: none;
    width: -webkit-fill-available;
    height: 48px;
    max-height: max-content;
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 20px;
    gap: 8px;
    background-color: #ffffff;
    border: 1px solid #dcdcdf;
    border-radius: 12px;
    font: 400 16px/24px "Roboto";
    color: #373745;
  }
  h1 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
  }
  .login-block {
    width: 400px;
    text-align: center;
    padding: 40px 24px;
    border-radius: 16px;
    box-shadow: 4px 0 20px rgba(44, 57, 121, 0.09);
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .bacckground_auth{
    background-color: #e5e5e5;
  }

  .login-image {
    margin: 0 auto;
    width: 132px;
    height: 132px;
  }

  .login-field {
    border-radius: 12px;
    border: 1px solid #dcdcdf;
    padding: 12px 20px;
    margin-bottom: 12px;
    font-size: 16px;
  }

  .login-button {
    background-color: #60c2aa;
    border-radius: 12px;
    height: 48px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  .auth_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
  }