<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <title>Страница авторизации</title>
    <script src="/Auth.js"></script>
  </head>
  <body>
    <div class="auth_body">
      <div class="login-block">
        <img src="./imgs/welcome_dog.svg" alt="Вход в игру" class="login-image" />
        <h1>Войдите в игру</h1>
        <form name="acsess">
          <input class="login-field" id = "login" type="text" placeholder="Логин" />
          <input class="login-field" id="password" type="password" placeholder="Пароль" />
        </form>
        <button id ="btn" class="login-button">Войти</button>
    </div>
  </div>
  </body>
</html>