<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); -%>
  </head>
  <body>
    <header>
       <%- include('../partials/header'); %>
    </header>
    <div class="main-container-raiting">
      <h1>Рейтинг игроков</h1>
      <table class="main-table">
        <thead>
          <tr>
            <th>ФИО</th>
            <th>Всего игр</th>
            <th>Победы</th>
            <th>Проигрыши</th>
            <th>Процент побед</th>
          </tr>
        </thead>
        <tbody> 
          <% leaderBoard.forEach(function(leaderBoard) { %>
            <tr>
              <td><%= leaderBoard.name %></td>
              <td><%= leaderBoard.gameCount %></td>
              <td class="win"><%= leaderBoard.win %></td>
              <td class="lose"><%= leaderBoard.lose %></td>
              <td><%= leaderBoard.winRate %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>